In [25]:
import pymongo # pymongo is a python driver for MongoDB
import credentials # load username and password from credentials.py
import json # Importing json library to work with Json files  

#connection string used to connect to mango db cluster, my cluster name is AssignmentCluster. 
connection_string = f"mongodb+srv://{credentials.username}:{credentials.password}@assignmentcluster.ubso4mo.mongodb.net/?retryWrites=true&w=majority&appName=AtlasApp"

In [26]:
# I faced some issues with authentication, so i am just checking what credentials are passing thorough connection string
# We really don't need to use this cell other than cross checking the credentials 
print(credentials.username)
print(credentials.password)

sivagolamari12
iV8V8t5e9LxPpKIr

#### Used some random data which contains some of the employee details

In [27]:
client = pymongo.MongoClient(connection_string) # creating a client object to connect to database using the connecting string for credentials and so on 
db = client['Employee'] # this connects to an existing database called Employee or creates a new databse if Employee does not exist.

In [28]:
# Open the 'Data.json' file in read mode ('r')
f = open('Data.json')

# Load the contents of the JSON file into a Python data structure (typically a dictionary)
data = json.load(f)

# Close the opened file to free up system resources
f.close()

In [29]:
#just checking the data
data

[{'ID': 1,
  'Name': 'John',
  'Age': 25,
  'City': 'New York',
  'Country': 'USA',
  'Salary': 60000,
  'Job Location': 'New York'},
 {'ID': 2,
  'Name': 'Emily',
  'Age': 28,
  'City': 'Los Angeles',
  'Country': 'USA',
  'Salary': 65000,
  'Job Location': 'Los Angeles'},
 {'ID': 3,
  'Name': 'Michael',
  'Age': 22,
  'City': 'London',
  'Country': 'UK',
  'Salary': 55000,
  'Job Location': 'London'},
 {'ID': 4,
  'Name': 'Sophia',
  'Age': 30,
  'City': 'Paris',
  'Country': 'France',
  'Salary': 58000,
  'Job Location': 'Paris'},
 {'ID': 5,
  'Name': 'Daniel',
  'Age': 26,
  'City': 'Toronto',
  'Country': 'Canada',
  'Salary': 62000,
  'Job Location': 'Toronto'},
 {'ID': 6,
  'Name': 'Olivia',
  'Age': 24,
  'City': 'Sydney',
  'Country': 'Australia',
  'Salary': 60000,
  'Job Location': 'Sydney'},
 {'ID': 7,
  'Name': 'Liam',
  'Age': 29,
  'City': 'San Francisco',
  'Country': 'USA',
  'Salary': 70000,
  'Job Location': 'San Francisco'},
 {'ID': 8,
  'Name': 'Ava',
  'Age': 27,
  'City': 'Chicago',
  'Country': 'USA',
  'Salary': 68000,
  'Job Location': 'Chicago'},
 {'ID': 9,
  'Name': 'William',
  'Age': 23,
  'City': 'Berlin',
  'Country': 'Germany',
  'Salary': 56000,
  'Job Location': 'Berlin'},
 {'ID': 10,
  'Name': 'Mia',
  'Age': 31,
  'City': 'Madrid',
  'Country': 'Spain',
  'Salary': 59000,
  'Job Location': 'Madrid'},
 {'ID': 11,
  'Name': 'Ethan',
  'Age': 25,
  'City': 'Tokyo',
  'Country': 'Japan',
  'Salary': 62000,
  'Job Location': 'Tokyo'},
 {'ID': 12,
  'Name': 'Emma',
  'Age': 28,
  'City': 'Toronto',
  'Country': 'Canada',
  'Salary': 64000,
  'Job Location': 'Toronto'},
 {'ID': 13,
  'Name': 'James',
  'Age': 26,
  'City': 'London',
  'Country': 'UK',
  'Salary': 58000,
  'Job Location': 'London'},
 {'ID': 14,
  'Name': 'Charlotte',
  'Age': 27,
  'City': 'Los Angeles',
  'Country': 'USA',
  'Salary': 67000,
  'Job Location': 'Los Angeles'},
 {'ID': 15,
  'Name': 'Benjamin',
  'Age': 29,
  'City': 'New York',
  'Country': 'USA',
  'Salary': 72000,
  'Job Location': 'New York'},
 {'ID': 16,
  'Name': 'Avery',
  'Age': 24,
  'City': 'Sydney',
  'Country': 'Australia',
  'Salary': 61000,
  'Job Location': 'Sydney'},
 {'ID': 17,
  'Name': 'Mason',
  'Age': 22,
  'City': 'Paris',
  'Country': 'France',
  'Salary': 57000,
  'Job Location': 'Paris'},
 {'ID': 18,
  'Name': 'Lily',
  'Age': 30,
  'City': 'Berlin',
  'Country': 'Germany',
  'Salary': 59000,
  'Job Location': 'Berlin'},
 {'ID': 19,
  'Name': 'Alexander',
  'Age': 27,
  'City': 'Madrid',
  'Country': 'Spain',
  'Salary': 64000,
  'Job Location': 'Madrid'},
 {'ID': 20,
  'Name': 'Sofia',
  'Age': 25,
  'City': 'Tokyo',
  'Country': 'Japan',
  'Salary': 61000,
  'Job Location': 'Tokyo'},
 {'ID': 21,
  'Name': 'Logan',
  'Age': 28,
  'City': 'Chicago',
  'Country': 'USA',
  'Salary': 69000,
  'Job Location': 'Chicago'},
 {'ID': 22,
  'Name': 'Grace',
  'Age': 26,
  'City': 'San Francisco',
  'Country': 'USA',
  'Salary': 71000,
  'Job Location': 'San Francisco'},
 {'ID': 23,
  'Name': 'Jackson',
  'Age': 29,
  'City': 'Los Angeles',
  'Country': 'USA',
  'Salary': 70000,
  'Job Location': 'Los Angeles'},
 {'ID': 24,
  'Name': 'Luna',
  'Age': 30,
  'City': 'New York',
  'Country': 'USA',
  'Salary': 73000,
  'Job Location': 'New York'},
 {'ID': 25,
  'Name': 'Lucas',
  'Age': 22,
  'City': 'Paris',
  'Country': 'France',
  'Salary': 58000,
  'Job Location': 'Paris'},
 {'ID': 26,
  'Name': 'Liam',
  'Age': 27,
  'City': 'Los Angeles',
  'Country': 'USA',
  'Salary': 67000,
  'Job Location': 'Los Angeles'},
 {'ID': 27,
  'Name': 'Aria',
  'Age': 25,
  'City': 'Berlin',
  'Country': 'Germany',
  'Salary': 60000,
  'Job Location': 'Berlin'},
 {'ID': 28,
  'Name': 'Noah',
  'Age': 24,
  'City': 'San Francisco',
  'Country': 'USA',
  'Salary': 69000,
  'Job Location': 'San Francisco'},
 {'ID': 29,
  'Name': 'Avery',
  'Age': 26,
  'City': 'Chicago',
  'Country': 'USA',
  'Salary': 68000,
  'Job Location': 'Chicago'},
 {'ID': 30,
  'Name': 'Zoe',
  'Age': 23,
  'City': 'London',
  'Country': 'UK',
  'Salary': 57000,
  'Job Location': 'London'}]

In [30]:
# Insert multiple documents from the 'data' list into the 'Employee_collection' collection in the database.
db['Employee_collection'].insert_many(data)

In [31]:
# Access the MongoDB collection (equivalent to a table in SQL)
collection = db['Employee_collection']  # Replace 'your_collection_name' with your actual collection name

# Retrieve all documents from the collection
cursor = collection.find({})

# Iterate through the cursor to retrieve the documents
for document in cursor:
    print(document)

{'_id': ObjectId('6510beda0445b91a17d9b34c'), 'ID': 1, 'Name': 'John', 'Age': 25, 'City': 'New York', 'Country': 'USA', 'Salary': 60000, 'Job Location': 'New York'}
{'_id': ObjectId('6510beda0445b91a17d9b34d'), 'ID': 2, 'Name': 'Emily', 'Age': 28, 'City': 'Los Angeles', 'Country': 'USA', 'Salary': 65000, 'Job Location': 'Los Angeles'}
{'_id': ObjectId('6510beda0445b91a17d9b34e'), 'ID': 3, 'Name': 'Michael', 'Age': 22, 'City': 'London', 'Country': 'UK', 'Salary': 55000, 'Job Location': 'London'}
{'_id': ObjectId('6510beda0445b91a17d9b34f'), 'ID': 4, 'Name': 'Sophia', 'Age': 30, 'City': 'Paris', 'Country': 'France', 'Salary': 58000, 'Job Location': 'Paris'}
{'_id': ObjectId('6510beda0445b91a17d9b350'), 'ID': 5, 'Name': 'Daniel', 'Age': 26, 'City': 'Toronto', 'Country': 'Canada', 'Salary': 62000, 'Job Location': 'Toronto'}
{'_id': ObjectId('6510beda0445b91a17d9b351'), 'ID': 6, 'Name': 'Olivia', 'Age': 24, 'City': 'Sydney', 'Country': 'Australia', 'Salary': 60000, 'Job Location': 'Sydney'}
{'_id': ObjectId('6510beda0445b91a17d9b352'), 'ID': 7, 'Name': 'Liam', 'Age': 29, 'City': 'San Francisco', 'Country': 'USA', 'Salary': 70000, 'Job Location': 'San Francisco'}
{'_id': ObjectId('6510beda0445b91a17d9b353'), 'ID': 8, 'Name': 'Ava', 'Age': 27, 'City': 'Chicago', 'Country': 'USA', 'Salary': 68000, 'Job Location': 'Chicago'}
{'_id': ObjectId('6510beda0445b91a17d9b354'), 'ID': 9, 'Name': 'William', 'Age': 23, 'City': 'Berlin', 'Country': 'Germany', 'Salary': 56000, 'Job Location': 'Berlin'}
{'_id': ObjectId('6510beda0445b91a17d9b355'), 'ID': 10, 'Name': 'Mia', 'Age': 31, 'City': 'Madrid', 'Country': 'Spain', 'Salary': 59000, 'Job Location': 'Madrid'}
{'_id': ObjectId('6510beda0445b91a17d9b356'), 'ID': 11, 'Name': 'Ethan', 'Age': 25, 'City': 'Tokyo', 'Country': 'Japan', 'Salary': 62000, 'Job Location': 'Tokyo'}
{'_id': ObjectId('6510beda0445b91a17d9b357'), 'ID': 12, 'Name': 'Emma', 'Age': 28, 'City': 'Toronto', 'Country': 'Canada', 'Salary': 64000, 'Job Location': 'Toronto'}
{'_id': ObjectId('6510beda0445b91a17d9b358'), 'ID': 13, 'Name': 'James', 'Age': 26, 'City': 'London', 'Country': 'UK', 'Salary': 58000, 'Job Location': 'London'}
{'_id': ObjectId('6510beda0445b91a17d9b359'), 'ID': 14, 'Name': 'Charlotte', 'Age': 27, 'City': 'Los Angeles', 'Country': 'USA', 'Salary': 67000, 'Job Location': 'Los Angeles'}
{'_id': ObjectId('6510beda0445b91a17d9b35a'), 'ID': 15, 'Name': 'Benjamin', 'Age': 29, 'City': 'New York', 'Country': 'USA', 'Salary': 72000, 'Job Location': 'New York'}
{'_id': ObjectId('6510beda0445b91a17d9b35b'), 'ID': 16, 'Name': 'Avery', 'Age': 24, 'City': 'Sydney', 'Country': 'Australia', 'Salary': 61000, 'Job Location': 'Sydney'}
{'_id': ObjectId('6510beda0445b91a17d9b35c'), 'ID': 17, 'Name': 'Mason', 'Age': 22, 'City': 'Paris', 'Country': 'France', 'Salary': 57000, 'Job Location': 'Paris'}
{'_id': ObjectId('6510beda0445b91a17d9b35d'), 'ID': 18, 'Name': 'Lily', 'Age': 30, 'City': 'Berlin', 'Country': 'Germany', 'Salary': 59000, 'Job Location': 'Berlin'}
{'_id': ObjectId('6510beda0445b91a17d9b35e'), 'ID': 19, 'Name': 'Alexander', 'Age': 27, 'City': 'Madrid', 'Country': 'Spain', 'Salary': 64000, 'Job Location': 'Madrid'}
{'_id': ObjectId('6510beda0445b91a17d9b35f'), 'ID': 20, 'Name': 'Sofia', 'Age': 25, 'City': 'Tokyo', 'Country': 'Japan', 'Salary': 61000, 'Job Location': 'Tokyo'}
{'_id': ObjectId('6510beda0445b91a17d9b360'), 'ID': 21, 'Name': 'Logan', 'Age': 28, 'City': 'Chicago', 'Country': 'USA', 'Salary': 69000, 'Job Location': 'Chicago'}
{'_id': ObjectId('6510beda0445b91a17d9b361'), 'ID': 22, 'Name': 'Grace', 'Age': 26, 'City': 'San Francisco', 'Country': 'USA', 'Salary': 71000, 'Job Location': 'San Francisco'}
{'_id': ObjectId('6510beda0445b91a17d9b362'), 'ID': 23, 'Name': 'Jackson', 'Age': 29, 'City': 'Los Angeles', 'Country': 'USA', 'Salary': 70000, 'Job Location': 'Los Angeles'}
{'_id': ObjectId('6510beda0445b91a17d9b363'), 'ID': 24, 'Name': 'Luna', 'Age': 30, 'City': 'New York', 'Country': 'USA', 'Salary': 73000, 'Job Location': 'New York'}
{'_id': ObjectId('6510beda0445b91a17d9b364'), 'ID': 25, 'Name': 'Lucas', 'Age': 22, 'City': 'Paris', 'Country': 'France', 'Salary': 58000, 'Job Location': 'Paris'}
{'_id': ObjectId('6510beda0445b91a17d9b365'), 'ID': 26, 'Name': 'Liam', 'Age': 27, 'City': 'Los Angeles', 'Country': 'USA', 'Salary': 67000, 'Job Location': 'Los Angeles'}
{'_id': ObjectId('6510beda0445b91a17d9b366'), 'ID': 27, 'Name': 'Aria', 'Age': 25, 'City': 'Berlin', 'Country': 'Germany', 'Salary': 60000, 'Job Location': 'Berlin'}
{'_id': ObjectId('6510beda0445b91a17d9b367'), 'ID': 28, 'Name': 'Noah', 'Age': 24, 'City': 'San Francisco', 'Country': 'USA', 'Salary': 69000, 'Job Location': 'San Francisco'}
{'_id': ObjectId('6510beda0445b91a17d9b368'), 'ID': 29, 'Name': 'Avery', 'Age': 26, 'City': 'Chicago', 'Country': 'USA', 'Salary': 68000, 'Job Location': 'Chicago'}
{'_id': ObjectId('6510beda0445b91a17d9b369'), 'ID': 30, 'Name': 'Zoe', 'Age': 23, 'City': 'London', 'Country': 'UK', 'Salary': 57000, 'Job Location': 'London'}
{'_id': ObjectId('6510c1de0445b91a17d9b36b'), 'ID': 1, 'Name': 'John', 'Age': 25, 'City': 'New York', 'Country': 'USA', 'Salary': 60000, 'Job Location': 'New York'}
{'_id': ObjectId('6510c1de0445b91a17d9b36c'), 'ID': 2, 'Name': 'Emily', 'Age': 28, 'City': 'Los Angeles', 'Country': 'USA', 'Salary': 65000, 'Job Location': 'Los Angeles'}
{'_id': ObjectId('6510c1de0445b91a17d9b36d'), 'ID': 3, 'Name': 'Michael', 'Age': 22, 'City': 'London', 'Country': 'UK', 'Salary': 55000, 'Job Location': 'London'}
{'_id': ObjectId('6510c1de0445b91a17d9b36e'), 'ID': 4, 'Name': 'Sophia', 'Age': 30, 'City': 'Paris', 'Country': 'France', 'Salary': 58000, 'Job Location': 'Paris'}
{'_id': ObjectId('6510c1de0445b91a17d9b36f'), 'ID': 5, 'Name': 'Daniel', 'Age': 26, 'City': 'Toronto', 'Country': 'Canada', 'Salary': 62000, 'Job Location': 'Toronto'}
{'_id': ObjectId('6510c1de0445b91a17d9b370'), 'ID': 6, 'Name': 'Olivia', 'Age': 24, 'City': 'Sydney', 'Country': 'Australia', 'Salary': 60000, 'Job Location': 'Sydney'}
{'_id': ObjectId('6510c1de0445b91a17d9b371'), 'ID': 7, 'Name': 'Liam', 'Age': 29, 'City': 'San Francisco', 'Country': 'USA', 'Salary': 70000, 'Job Location': 'San Francisco'}
{'_id': ObjectId('6510c1de0445b91a17d9b372'), 'ID': 8, 'Name': 'Ava', 'Age': 27, 'City': 'Chicago', 'Country': 'USA', 'Salary': 68000, 'Job Location': 'Chicago'}
{'_id': ObjectId('6510c1de0445b91a17d9b373'), 'ID': 9, 'Name': 'William', 'Age': 23, 'City': 'Berlin', 'Country': 'Germany', 'Salary': 56000, 'Job Location': 'Berlin'}
{'_id': ObjectId('6510c1de0445b91a17d9b374'), 'ID': 10, 'Name': 'Mia', 'Age': 31, 'City': 'Madrid', 'Country': 'Spain', 'Salary': 59000, 'Job Location': 'Madrid'}
{'_id': ObjectId('6510c1de0445b91a17d9b375'), 'ID': 11, 'Name': 'Ethan', 'Age': 25, 'City': 'Tokyo', 'Country': 'Japan', 'Salary': 62000, 'Job Location': 'Tokyo'}
{'_id': ObjectId('6510c1de0445b91a17d9b376'), 'ID': 12, 'Name': 'Emma', 'Age': 28, 'City': 'Toronto', 'Country': 'Canada', 'Salary': 64000, 'Job Location': 'Toronto'}
{'_id': ObjectId('6510c1de0445b91a17d9b377'), 'ID': 13, 'Name': 'James', 'Age': 26, 'City': 'London', 'Country': 'UK', 'Salary': 58000, 'Job Location': 'London'}
{'_id': ObjectId('6510c1de0445b91a17d9b378'), 'ID': 14, 'Name': 'Charlotte', 'Age': 27, 'City': 'Los Angeles', 'Country': 'USA', 'Salary': 67000, 'Job Location': 'Los Angeles'}
{'_id': ObjectId('6510c1de0445b91a17d9b379'), 'ID': 15, 'Name': 'Benjamin', 'Age': 29, 'City': 'New York', 'Country': 'USA', 'Salary': 72000, 'Job Location': 'New York'}
{'_id': ObjectId('6510c1de0445b91a17d9b37a'), 'ID': 16, 'Name': 'Avery', 'Age': 24, 'City': 'Sydney', 'Country': 'Australia', 'Salary': 61000, 'Job Location': 'Sydney'}
{'_id': ObjectId('6510c1de0445b91a17d9b37b'), 'ID': 17, 'Name': 'Mason', 'Age': 22, 'City': 'Paris', 'Country': 'France', 'Salary': 57000, 'Job Location': 'Paris'}
{'_id': ObjectId('6510c1de0445b91a17d9b37c'), 'ID': 18, 'Name': 'Lily', 'Age': 30, 'City': 'Berlin', 'Country': 'Germany', 'Salary': 59000, 'Job Location': 'Berlin'}
{'_id': ObjectId('6510c1de0445b91a17d9b37d'), 'ID': 19, 'Name': 'Alexander', 'Age': 27, 'City': 'Madrid', 'Country': 'Spain', 'Salary': 64000, 'Job Location': 'Madrid'}
{'_id': ObjectId('6510c1de0445b91a17d9b37e'), 'ID': 20, 'Name': 'Sofia', 'Age': 25, 'City': 'Tokyo', 'Country': 'Japan', 'Salary': 61000, 'Job Location': 'Tokyo'}
{'_id': ObjectId('6510c1de0445b91a17d9b37f'), 'ID': 21, 'Name': 'Logan', 'Age': 28, 'City': 'Chicago', 'Country': 'USA', 'Salary': 69000, 'Job Location': 'Chicago'}
{'_id': ObjectId('6510c1de0445b91a17d9b380'), 'ID': 22, 'Name': 'Grace', 'Age': 26, 'City': 'San Francisco', 'Country': 'USA', 'Salary': 71000, 'Job Location': 'San Francisco'}
{'_id': ObjectId('6510c1de0445b91a17d9b381'), 'ID': 23, 'Name': 'Jackson', 'Age': 29, 'City': 'Los Angeles', 'Country': 'USA', 'Salary': 70000, 'Job Location': 'Los Angeles'}
{'_id': ObjectId('6510c1de0445b91a17d9b382'), 'ID': 24, 'Name': 'Luna', 'Age': 30, 'City': 'New York', 'Country': 'USA', 'Salary': 73000, 'Job Location': 'New York'}
{'_id': ObjectId('6510c1de0445b91a17d9b383'), 'ID': 25, 'Name': 'Lucas', 'Age': 22, 'City': 'Paris', 'Country': 'France', 'Salary': 58000, 'Job Location': 'Paris'}
{'_id': ObjectId('6510c1de0445b91a17d9b384'), 'ID': 26, 'Name': 'Liam', 'Age': 27, 'City': 'Los Angeles', 'Country': 'USA', 'Salary': 67000, 'Job Location': 'Los Angeles'}
{'_id': ObjectId('6510c1de0445b91a17d9b385'), 'ID': 27, 'Name': 'Aria', 'Age': 25, 'City': 'Berlin', 'Country': 'Germany', 'Salary': 60000, 'Job Location': 'Berlin'}
{'_id': ObjectId('6510c1de0445b91a17d9b386'), 'ID': 28, 'Name': 'Noah', 'Age': 24, 'City': 'San Francisco', 'Country': 'USA', 'Salary': 69000, 'Job Location': 'San Francisco'}
{'_id': ObjectId('6510c1de0445b91a17d9b387'), 'ID': 29, 'Name': 'Avery', 'Age': 26, 'City': 'Chicago', 'Country': 'USA', 'Salary': 68000, 'Job Location': 'Chicago'}
{'_id': ObjectId('6510c1de0445b91a17d9b388'), 'ID': 30, 'Name': 'Zoe', 'Age': 23, 'City': 'London', 'Country': 'UK', 'Salary': 57000, 'Job Location': 'London'}

In [32]:
avg_salary = collection.aggregate([
    {
        '$group': {
            '_id': '$Job Location',  # Group by the 'Job_location' field
            'Avg_salary': {'$avg': '$Salary'}  # Calculate the average salary for each group
        }
    }
])
list(avg_salary)

[{'_id': 'Tokyo', 'Avg_salary': 61500.0},
 {'_id': 'Paris', 'Avg_salary': 57666.666666666664},
 {'_id': 'London', 'Avg_salary': 56666.666666666664},
 {'_id': 'Sydney', 'Avg_salary': 60500.0},
 {'_id': 'New York', 'Avg_salary': 68333.33333333333},
 {'_id': 'Toronto', 'Avg_salary': 63000.0},
 {'_id': 'Madrid', 'Avg_salary': 61500.0},
 {'_id': 'San Francisco', 'Avg_salary': 70000.0},
 {'_id': 'Berlin', 'Avg_salary': 58333.333333333336},
 {'_id': 'Chicago', 'Avg_salary': 68333.33333333333},
 {'_id': 'Los Angeles', 'Avg_salary': 67250.0}]

In [33]:
avg_salary_above_25 = collection.aggregate([
    {
        '$match': {
            'Age': {'$gt': 25}  # Filter documents where 'age' is greater than 25
        }
    },
    {
        '$group': {
            '_id': None,  # Since we are not grouping by any field, set _id to None
            'Avg_salary': {'$avg': '$Salary'}  # Calculate the average salary for the filtered documents
        }
    }
])

result = avg_salary_above_25

[{'_id': None, 'Avg_salary': 65777.77777777778}]

In [35]:

import bson.json_util as bju

fin = open("ave_25.json", "w")
fin.write(bju.dumps(list(avg_salary_above_25), indent=2))
fin.close()